@media screen and (max-width: 1279.9px) {
    nav {
        margin: 0 80px;
        width: calc(100% - 160px);
        height: 85px;
    }

    .header {
        background-size: cover;
    }

    .desc {
        padding: 130px 0 180px 0;
        gap: 9px;
    }

    .desc .l1 {
        font-weight: 790;
        font-size: 40px;
        width: 450px;
    }

    .desc .l2 {
        font-weight: 500;
        font-size: 17px;
        width: 450px;
    }

    .desc .l3 {
        padding: 15px 0 0 0;
        font-weight: 400;
        font-size: 16px;
        width: 450px;
        line-height: 25px;
    }

    .email {
        padding: 5px 0 0 0;
    }

    .emailinp {
        width: 300px;
    }

    .email button {
        width: 170px;
        font-size: 15.5px;
    }

    main {
        padding: 0 80px;
    }
    .posters-container{
        height: 240px;
    }
    .poster{
        width: 140px;
        height: 195px;
    }
    .posters:hover{
        height: 210px;
    }
    .poster span{
        font-size: 80px;
        line-height: 80px;
    }
    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
        height: auto;
    }

    .card {
        width: auto;
        height: 150px;
        padding: 25px;
        position: relative;
    }

    .card img {
        position: absolute;
        bottom: 15px;
        right: 8px;
    }

    .card h2 {
        font-size: 19px;
        font-weight: 600;
    }

    .emailinp2 {
        width: 450px;
    }

    .footer-links {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 17px;
    }
}

@media screen and (max-width: 959.9px) {
    nav {
        margin: 0 32px;
        width: calc(100% - 64px);
        height: 85px;
    }

    nav img {
        height: 24px;
    }

    .desc {
        padding: 95px 0 140px 0;
    }

    .desc .l1 {
        font-size: 32px;
        width: 450px;
    }

    .desc .l3 {
        padding: 10px 0 0 0;
    }

    .emailinp {
        width: 220px;
    }

    .email button {
        width: 180px;
        font-size: 17px;
    }

    main {
        padding: 0 32px;
    }

    .main-item h2 {
        font-size: 18px;
    }

    .posters-container{
        height: 190px;
    }
    .posters{
        padding: 5px 10px;
    }
    .poster{
        width: 115px;
        height: 160px;
    }
    .posters:hover{
        height: 170px;
    }
    .poster span{
        font-size: 64px;
        line-height: 64px;
        left: -10px;
    }

    .mrtj {
        gap: 12px;
    }

    .cards {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .card {
        height: 120px;
        padding: 25px 15px 55px 15px;
        gap: 10px;
    }

    .card img {
        height: 63px;
        bottom: 8px;
        right: 5px;
    }

    .faq-item {
        font-size: 18px;
        font-weight: 100;
    }

    .faq-item img {
        height: 25px;
    }

    .email2 {
        width: 100%;
    }

    .emailinp2 {
        width: 100%;
    }

    .email2 button {
        width: 225px;
        font-size: 17px;
    }

    .footer-links {
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
}

@media screen and (max-width: 599.9px) {
    nav {
        margin: 0 24px;
        width: calc(100% - 48px);
        height: 85px;
    }

    nav img {
        height: 24px;
    }

    #language {
        width: 0px;
        padding: 6.5px 30px;
    }

    .desc {
        padding: 80px 32px 130px 32px;
    }

    .desc .l1,
    .desc .l3 {
        width: 100%;
    }

    .desc .l3 {
        padding: 5px 0 0 0;
    }

    .email {
        padding: 0;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 5px;
    }

    .emailinp {
        width: calc(100% - 31px);
        height: 46px;
    }

    .email button {
        margin: 11px 0 0 0;
        height: 46px;
        width: 160px;
        padding: 0 0 0 15px;
    }

    main {
        padding: 0 24px;
    }
    
    .emailagain,
    .email2 {
        align-items: flex-start;
    }

    .footer-links {
        grid-template-columns: 1fr;
    }

}