* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: black;
    color: white;
}

header {
    background-image: url('assets/bg.jpg');
    background-position: center center;
    background-size: max(1000px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.layer1 {
    position: absolute;
    z-index: 0;
    opacity: 0.5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.layer2 {
    position: absolute;
    z-index: 0;
    opacity: 0.7;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(225deg,
            rgb(0, 0, 0) 0.000%,
            rgba(0, 0, 0, 0.5) 50.0%,
            rgb(0, 0, 0) 100.0%);
}

.content {
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    width: 75.5vw;
    height: 16vh;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.nav {
    display: flex;
    gap: 12px;
}

.lang {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 6px 25px 6px 35px;
    color: white;
    font-weight: 500;
    border: 1px solid gray;
    border-radius: 5px;
}

.signin {
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.desc {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 8vw;
    gap: 15px;
}

.desc div {
    text-align: center;
}

.desc .l1 {
    width: 60vw;
    font-size: 53px;
    font-weight: 900;
}

.desc .l2 {
    font-size: 20px;
    font-weight: 600;
}

.desc .l3 {
    padding: 20px 0 0 0;
    font-size: 17px;
    font-weight: 500;
}

.email {
    width: 65vw;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.emailinp {
    background: rgba(0, 0, 0, 0.35);
    color: white;
    width: calc(100% - 500px);
    height: 55px;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    border: 1px solid gray;
}

.emailinp::placeholder {
    color: white;
    opacity: 0.7;
}

.emailinp:focus {
    outline: 1px solid white;
    outline-offset: 2px;
    position: relative;
    padding-top: 5px;
    height: 45px;
}

.emailinp:focus::placeholder {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 10px;
    font-weight: 500;
}

.email button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 10px 20px 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}

.seperation {
    position: relative;
    height: 60px;
}

.seplayer1,
.seplayer2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.seplayer1 {
    z-index: 1;
    border-top-left-radius: 60% 100%;
    border-top-right-radius: 60% 100%;
    border-bottom: none;
    background: linear-gradient(to right,
            rgba(33, 13, 22, 1) 10%,
            rgba(184, 40, 105, 1),
            rgb(255, 0, 13),
            rgba(184, 40, 105, 1),
            rgba(33, 13, 22, 1) 90%);
}

.seplayer2 {
    z-index: 2;
    border-top: solid 4px transparent;
    border-top-left-radius: 60% 95%;
    border-top-right-radius: 60% 95%;
    border-bottom: none;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    background-clip: padding-box;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.trending {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.posters {
    display: flex;
    gap: 20px;
    width: 75vw;
    margin: auto;
}

.trending h2 {
    width: 75vw;
    margin: auto;
}

.trendbtn {
    border: none;
    cursor: pointer;
    scale: 0.9 0.9;
    background-size: 100% 100%;
    border-radius: 10px;
    height: 276px;
    width: 225px;
}
.trendbtn:hover {
    scale: 0.95 0.95;
    transition: all 0.2s ease-in-out;
}
.poster1 {
    background-image: url("https://occ-0-3752-3646.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYUCgDPIk4LvnEw_j-dC5ca65oxm4yP2Z7RFKlRcN6WYzCwNA4MhTNqTRrSAK9zND3cSjrYEpbQculmTCXPD09ZbvdCosdbuOjc.webp?r=062");
}

.poster2 {
    background-image: url("https://occ-0-3752-3646.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYGL4_ns5MGTE5-Yd3ZQVB5apyY9yxQ39lxjT_27ehdoGzrxRwNc4osgXEeifcv9yO_MgMySL-p6hMxtQZnIEkZmyglIJ7wm7ik.webp?r=c23");
}

.poster3 {
    background-image: url("https://occ-0-3752-3646.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZ2Btia34ViHOdbGThR2xD0XYVD9vkdTkUULeET8PcHeq12ebMOJyLaTD1yS26NaRfUqDMknk2XnomOCg78WEKeN3VEDdOKzFRayBGveEZ-MeOaVD-v0z5P25idICKgt-nXX.webp?r=a1c");
}

.poster4 {
    background-image: url("https://occ-0-3752-3646.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYVcRfFB91jy3f8-_Alb6H4RUzqXFRA7ejjOfCOXF20XLRVeCyT3ZFEimKbZAimt2ayVUWXSnp6ApNxpoK0mA3XzJD__irrDkdMD6lDrOFPSvQqP8s0xn2dNBaU9JxIu4lUd.webp?r=63b");
}

.poster5 {
    background-image: url("https://occ-0-3752-3646.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABWtQdcUd4n6VKz6HTm_IbI2cOq0VDU7fDQpomIXBLuCYqtJ4j8hj2pz7j6spnX2osjRgTMJQ9xkMieYZWqC6xC8G4tGlTLJBm3I.webp?r=cc2");
}
