* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    scrollbar-color: #1a1a1a #000000;
}

body {
    background-color: black;
    color: white;
    overflow-x: hidden;
    position: relative;
    z-index: 0;
}

.header {
    background-image: url('assets/bg.jpg');
    background-position: center center;
    background-size: max(1000px, 100vw);
    background-repeat: no-repeat;
    position: relative;
}

.layer1 {
    position: absolute;
    z-index: 0;
    opacity: 0.4;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
}

.layer2 {
    position: absolute;
    z-index: 0;
    opacity: 0.8;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(225deg,
            rgb(0, 0, 0) 0.000%,
            rgba(0, 0, 0, 0.4) 30.0%,
            rgba(0, 0, 0, 0.4) 70.0%,
            rgb(0, 0, 0) 100.0%);
}

.layer3 {
    position: absolute;
    z-index: 0;
    opacity: 0.9;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg,
            rgb(0, 0, 0) 0.000%,
            rgba(0, 0, 0, 0.1) 10.0%,
            rgba(0, 0, 0, 0.5) 40.0%,
            rgba(0, 0, 0, 0.6) 60.0%,
            rgba(0, 0, 0, 0.4) 75.0%,
            rgb(0, 0, 0) 100.0%);
}

.content {
    position: relative;
    z-index: 1;
}

nav {
    display: flex;
    margin: 0 148px;
    width: calc(100% - 296px);
    height: 92px;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.nav {
    display: flex;
    gap: 12px;
    padding: 0 10px;
}

.select-lang {
    position: relative;
    display: flex;
    align-items: center;
}

.select-lang .translate {
    position: absolute;
    height: 16px;
    top: 8px;
    left: 12px;
    z-index: 1;
    pointer-events: none;
}

.select-lang .dropdown {
    position: absolute;
    height: 16px;
    z-index: 1;
    top: 10px;
    right: 15px;
    pointer-events: none;
}

.lang {
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.35);
    padding: 6.5px 35px;
    color: white;
    font-weight: 500;
    border: 1px solid gray;
    border-radius: 5px;
    appearance: none;
}

.lang:focus {
    outline: 2px solid white;
    outline-offset: 2px;
}

.lang:focus option {
    background-color: white;
    color: black;
}


.signin {
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}

.desc {
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    padding: 91px 0;
    gap: 15px;
}

.desc div {
    text-align: center;
}

.desc .l1 {
    width: 650px;
    font-size: 53px;
    font-weight: 900;
}

.desc .l2 {
    font-size: 20px;
    font-weight: 600;
}

.desc .l3 {
    padding: 20px 0 0 0;
    font-size: 17px;
    font-weight: 500;
}

.email {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.emailinp {
    background: rgba(0, 0, 0, 0.35);
    color: white;
    width: 335px;
    height: 55px;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    border: 1px solid gray;
}

.emailinp::placeholder {
    color: white;
    opacity: 0.7;
}

.emailinp:focus {
    outline: 2px solid white;
    outline-offset: 2px;
    position: relative;
    padding-top: 5px;
    height: 50px;
}

.emailinp:focus::placeholder {
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: 10px;
    font-weight: 500;
}

.email button {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(229, 9, 20);
    color: white;
    padding: 10px 20px 10px 25px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
}

.seperation {
    position: relative;
    height: 60px;
    width: 100%;
}

.seplayer1,
.seplayer2 {
    position: absolute;
    top: 0;
    left: -20%;
    width: 140%;
    height: 100%;
}

.seplayer1 {
    z-index: 1;
    border-top-left-radius: 60% 100%;
    border-top-right-radius: 60% 100%;
    border-bottom: none;
    background: linear-gradient(to right,
            rgba(33, 13, 22, 1) 10%,
            rgba(184, 40, 105, 1),
            rgb(255, 0, 13),
            rgba(184, 40, 105, 1),
            rgba(33, 13, 22, 1) 90%);
}

.seplayer2 {
    z-index: 2;
    border-top: solid 4px transparent;
    border-top-left-radius: 60% 95%;
    border-top-right-radius: 60% 95%;
    border-bottom: none;
    background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
    background-clip: padding-box;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 148px;
}

.main-item {
    width: 100%;
}

.trending {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 30px 0;
}

.posters-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    height: 305px;
}

.posters {
    list-style: none;
    cursor: pointer;
    flex: 0 0 auto;
    position: relative;
    padding: 8px 22px;
}

.posters:hover {
    scale: 1.05 1.05;
    transition: all 0.3s ease-in-out;
    height: 265px;
}

.poster {
    background-size: 100% 100%;
    border-radius: 10px;
    height: 250px;
    width: 180px;
    position: relative;
}

.poster span {
    position: absolute;
    bottom: 5px;
    left: -20px;
    color: black;
    font-size: 100px;
    font-weight: 900;
    line-height: 120px;
    -webkit-text-stroke: 2px rgb(210, 210, 210);
}

.poster1 {
    background-image: url("https://occ-0-2484-3647.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABaW57jWqw0Gs9gqgmW816THwyNfPqphIiruQRFy9KXtt9PTPJpB4kzDKriPcpNjPKCj0itu1Yfjl-CR8rGEokBHPKE4O9lZQHXHRRpUHEelwoKk8lOf4gqlws-HnR2iZeSk4.webp?r=609");
}

.poster2 {
    background-image: url("https://occ-0-2484-3647.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABU73BvQjJgydQFEJ-vZZw9QtO8fL6lIxc71x9tOqxgDWh_BHokCWPIbGC5AxJjDk0D_sIH5KhmmYm9HLr3DKUXg8eo6nzF0rtSI.webp?r=d95");
}

.poster3 {
    background-image: url("https://occ-0-2484-3647.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABcxYDMjUvSJ3nAryjqs0uoAo7oXp0DFAQhDL_HZwL47A6EbYkAy942pqlMP0YJlIW1kbNU2mspfJYDwrMg21vkhWMicgpCeykDgVDtTl91myV24RIx42qMwWu3qIdvWaUDBB.webp?r=43d");
}

.poster4 {
    background-image: url("https://occ-0-2484-3647.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABVVzJ7Q5ewWWr7Ju9Vpu5gUq1Guy_hTrvChxJceb-sKqWPiIs1YGHsy_iC2mNT5bKs2BepshCHriwd7IQhYM2HPuqd7MBfqMXFL8nXJshtQEi6-KAKZAcSvG7xE3daK4ABuC.webp?r=81a");
}

.poster5 {
    background-image: url("https://occ-0-2484-3647.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYGL4_ns5MGTE5-Yd3ZQVB5apyY9yxQ39lxjT_27ehdoGzrxRwNc4osgXEeifcv9yO_MgMySL-p6hMxtQZnIEkZmyglIJ7wm7ik.webp?r=c23");
}

.poster6 {
    background-image: url("https://occ-0-2484-3647.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABcH5_XDKPeXszDIKUeRk9f8gbZf2IIH_vdf4CNwOb7kql21x-tuHFIQn1NVGFCzD79WrtEa2YEWqbSqJAs8AAOymvo6mcwfQlFM.webp?r=e74");
}

.poster7 {
    background-image: url("https://occ-0-2484-3647.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABYUCgDPIk4LvnEw_j-dC5ca65oxm4yP2Z7RFKlRcN6WYzCwNA4MhTNqTRrSAK9zND3cSjrYEpbQculmTCXPD09ZbvdCosdbuOjc.webp?r=062");
}

.poster8 {
    background-image: url("https://occ-0-2484-3647.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABWtQdcUd4n6VKz6HTm_IbI2cOq0VDU7fDQpomIXBLuCYqtJ4j8hj2pz7j6spnX2osjRgTMJQ9xkMieYZWqC6xC8G4tGlTLJBm3I.webp?r=cc2");
}

.poster9 {
    background-image: url("https://occ-0-2484-3647.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZ2Btia34ViHOdbGThR2xD0XYVD9vkdTkUULeET8PcHeq12ebMOJyLaTD1yS26NaRfUqDMknk2XnomOCg78WEKeN3VEDdOKzFRayBGveEZ-MeOaVD-v0z5P25idICKgt-nXX.webp?r=a1c");
}

.poster10 {
    background-image: url("https://occ-0-2484-3647.1.nflxso.net/dnm/api/v6/mAcAr9TxZIVbINe88xb3Teg5_OA/AAAABZFBdXweIqorvQIPkQbuKg9rFcZJJ8yCUzSX1ySYOsmrcMeUgLlY3YWvFcXee7lFjHwMT_Ofd03ttH-rTzAHPZskA6K-f4imBAY.webp?r=81d");
}

.mrtj {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cards {
    display: flex;
    gap: 18px;
    height: 332px;
}

.card {
    height: 300px;
    width: 20.5%;
    background: linear-gradient(149deg,
            #192247 0%,
            #210e17 96.86%);
    border-radius: 15px;
    padding: 25px 15px 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card img {
    height: 75px;
    margin: auto 0 0 auto;
}

.card p {
    color: rgba(255, 255, 255, 0.7);
    max-width: 100%;
}


.faq {
    margin: 70px 0;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.faq-item {
    padding: 24px;
    background-color: #2d2d2d;
    border: none;
    min-height: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 100;
    font-size: 25px;
    text-align: left;
}

.faq-item:hover {
    background-color: #3d3d3d;
    cursor: pointer;
}

.emailagain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.emailinp2 {
    width: 530px;
}

.footer {
    display: flex;
    flex-direction: column;
    padding: 65px 0;
    gap: 45px;
    color: rgb(170, 170, 170);
}

.footer-text a,
.footer-links a {
    color: rgb(170, 170, 170);
    text-decoration: underline;
}

.footer-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    font-size: 14px;
}

.footer-lang .dropdown {
    left: 90px;
}

.captcha {
    font-size: 14px;
    color: #7e7e7e;
}

.captcha a {
    text-decoration: underline;
    color: rgb(0, 153, 255);
    white-space: nowrap;
}

.designer {
    text-decoration: none;
    color: white;
}

.copyright {
    width: 100%;
    padding: 25px 0;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}